h2 {
    font-size: 22px;
    margin-bottom: 20px;
}

/* .headline-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: #1E1E1E;
    
} */

.news-section , .headline-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;

    margin-top: 10px;
    margin-bottom: 10px;
}

.news-section{
    background-color: #1E1E1E;
}

.headline-desc {
    padding: 20px;
    display: flex;
    flex-direction: row;    
    flex-wrap: wrap;

    max-width: 800px;
    min-height: 100px;

    justify-content: center;

    
    font-size: 14px;
}

.headline-desc ul {
    align-items: center;
    margin-left: 10px;
    padding: 15px;
}

.news-item{
    padding: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 800px;
    min-height: 190px;
    border-bottom: 1px dashed #FFFFFF ;
}

@media (max-width: 767px){
    .news-item {
        flex-direction: column;
    }

    .news-item img {
        width: 90%;
    }
}

.news-item img {
    width: 280px;
    height: 168px;
    margin-right: 20px;
    border-radius: 10px;
}

.news-details h3 {
    margin: 0;
    font-size: 18px;
}

.news-details p {
    font-size: 12px;
    color: #888888;
}

.sources {
    list-style: none;
    margin: 10px 0 0;
    padding: 0;
    display: flex;
}

.sources li {
    margin-right: 10px;
}

.sources li a {
    color: #4CAF50;
    text-decoration: none;
    font-size: 14px;
}

footer {
    background-color: #1E1E1E;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
